# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
ENV/

# Django
*.log
local_settings.py

# SQLite
db.sqlite3
db.sqlite3-journal

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/

# Environment variables / secrets
.env
.env.*

# Test/cache
.pytest_cache/
.coverage
htmlcov/